# Discord Configuration
DISCORD_TOKEN=your_token_here
DISCORD_CLIENT_ID=your_client_id_here

# Webhook Server Configuration
PORT=3000
GITHUB_WEBHOOK_SECRET=your_github_webhook_secret_here

# Database Configuration
DATABASE_URL="postgresql://user:password@localhost:5432/gitcord?schema=public"

# AI Configuration
GEMINI_API_KEY=your_gemini_api_key_here
